---
layout: default
---
<div class="wrapper-main">
        <div id="main" role="main" class="container">
          <article class="page">

  <h1>Hi there 👋</h1>

  <div class="entry">
    <p>I’m John Price, although I often go by my middle name, Bodhi. I’m tech lead and cloud engineer at George Lucas Educational Foundation. Over the past few years my primary focus has been designing and building serverless applications on AWS using Node.js. On weekends I’ve been exploring blockchain and crypto, which to me feel like the transformational technologies of the next 20 years (along with AI).</p>

<p>If you want to chat about getting started with AWS — and serverless in particular — please reach out. I have a ton of experience in this area and would be happy to share! You can DM me on <a href="https://twitter.com/bodhiprice">Twitter</a> or email me at <a href="mailto:bodhi@fastmail.com">bodhi@fastmail.com</a>.</p>

  </div>
</article>

        </div>
      </div>
<!-- <div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none">
        <h1 style="text-align: left">{{ post.title }}</h1>

        <div style="text-align: left">
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div> -->
