<a href="https://github.com/bodhiprice"><img src="https://github.com/bodhiprice/bodhiprice.github.io/raw/master/images/github-128px.png" alt="GitHub link" /></a>
<a href="https://www.linkedin.com/in/bodhiprice"><img src="https://github.com/bodhiprice/bodhiprice.github.io/raw/master/images/linkedin-128px.png" alt="LinkedIn link" /></a>
<a href="https://twitter.com/bodhiprice"><img src="https://github.com/bodhiprice/bodhiprice.github.io/raw/master/images/twitter-128px.png" alt="Twitter link" /></a>
<!-- <a href="https://youtube.com/{{ site.footer-links.youtube }}"></a>
 -->
